
.vs/GLBIproject1/v16/Browse.VC.opendb
.vs/GLBIproject1/v16/ipch/AutoPCH/63440f2df8d30f42/MAIN.ipch
.vs/GLBIproject1/v16/Solution.VC.db-wal
.vs/GLBIproject1/v16/Solution.VC.db-shm
.vs/GLBIproject1/v16/Solution.VC.db
.vs/GLBIproject1/v16/ipch/AutoPCH/66e5359963e64376/MAIN.ipch
.vs/GLBIproject1/v16/ipch/AutoPCH/637acb669ce9f49/MAIN.ipch
.vs/GLBIproject1/v16/ipch/AutoPCH/3b5e7c97750e8c56/MAIN.ipch
.vs/GLBIproject1/v16/Browse.VC.db
.vs/GLBIproject1/v16/.suo
